<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Менеджер задач</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">

    <h1>Редактировать Проект</h1>

    <form action="/projects/edit" method="post" th:object="${project}">
        <input type="text" name="name" th:value="${project.name}" class="form-control" th:field="*{name}"><br>
        <input type="hidden" name="id" th:value="${project.id}" class="form-control"><br>
        <button type="submit" class="btn btn-success">Принять</button>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>