<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Менеджер задач</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

    <h1 class="display-4">Проекты</h1>

    <table border="1" align="center" width="40%">
        <tr>
            <th>№</th>
            <th>Название</th>
        </tr>
        <tr th:each ="p : ${projects}">
            <td th:utext="${p.id}">...</td>
            <td><a th:href="@{'/projects/' + ${p.id}}" th:utext="${p.name}"></a></td>
        </tr>
    </table>

    <br>

    <a href="/projects/add">Добавить проект</a>

</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>