<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Менеджер задач</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">

    <h1>Редактировать Задачу</h1>

    <form action="/tasks/edit" method="post" th:object="${task}">
        <input type="hidden" name="id" th:value="${task.id}" class="form-control" th:field="*{id}">
        <label for="name">Имя </label><input type="text" name="name" id="name" th:value="${task.name}" class="form-control" th:field="*{name}">
        <label for="status">Статус </label><input type="text" name="status" id="status" th:value="${task.status}" class="form-control" th:field="*{status}">
        <label for="owner">Заказчик </label><br>
        <select id="owner" name="owner" style="width:200px" th:field="*{owner}">
            <option th:each="o : ${owners}" th:value="${o.id}" th:text="${o.name}" th:selected="${o.id==task.owner}"></option>
        </select><br>
        <label for="executor">Исполнитель </label><br>
        <select id="executor" name="executor" style="width:200px" th:field="*{executor}">
            <option th:each="e : ${executors}" th:value="${e.id}" th:text="${e.name}" th:selected="${e.id==task.executor}"></option>
        </select><br>
        <label for="project">Проект </label><br>
        <select id="project" name="project" style="width:200px" th:field="*{project}">
            <option th:each="p : ${projects}" th:value="${p.id}" th:text="${p.name}" th:selected="${p.id==task.project}"></option>
        </select><br>

        <br>
        <button type="submit" class="btn btn-success">Принять</button>
    </form>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>