<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 mr-md-auto fw-normal">Менеджер задач</p>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" th:href="@{/index.html}">Главная</a>
        <a class="p-2 text-dark" th:href="@{/users}">Пользователи</a>
        <a class="p-2 text-dark" th:href="@{/projects}">Проекты</a>
        <a class="p-2 text-dark" th:href="@{/tasks}">Задачи</a>
    </nav>
</header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

    <h1 class="display-4">Пользователи</h1>

    <table border="1" align="center" width="40%">
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Права</th>
        </tr>
        <tr th:each ="u : ${users}">
            <td th:utext="${u.id}">...</td>
            <td><a th:href="@{'/users/' + ${u.id}}" th:utext="${u.name}"></a></td>
            <td th:utext="${u.role}">...</td>
        </tr>
    </table>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted"></small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
        </div>
    </div>
</footer>
</body>
</html>